<div class="card card-body">
  <form class="needs-validation" #form=ngForm (ngSubmit)="onSubmit()">
    <mat-stepper orientation="vertical">
      <mat-step>
        <ng-template matStepLabel>コース情報</ng-template>
        <ng-template matStepContent>
          プレイ日付 <span class="badge rounded-pill text-bg-danger mat-badge-error">必須</span>
          <input type="date" class="form-control enFont mb-2" [(ngModel)]="playDate" name="playDate" placeholder="プレイ日付" (blur)="inputCheck()">
          コース名
          <input type="text" class="form-control mb-2" [(ngModel)]="courseName" name="courseName" placeholder="コース名">
          スタート
          <select class="form-select form-control enFont" [(ngModel)]="inout" name="inout">
            <option class="enFont" value=0>OUT → IN</option>
            <option class="enFont" value=1>IN → OUT</option>
          </select>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>プレイ人数</ng-template>
        <ng-template matStepContent>
          １人目 <span class="badge rounded-pill text-bg-danger mat-badge-error">必須</span>
          <input type="text" class="form-control mb-2" [(ngModel)]="name1" name="name1" placeholder="１人目のプレーヤー名" (blur)="inputCheck()">
          ２人目
          <input type="text" class="form-control mb-2" [(ngModel)]="name2" name="name2" placeholder="２人目のプレーヤー名">
          ３人目
          <input type="text" class="form-control mb-2" [(ngModel)]="name3" name="name3" placeholder="３人目のプレーヤー名">
          ４人目
          <input type="text" class="form-control" [(ngModel)]="name4" name="name4" placeholder="４人目のプレーヤー名">
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>プレイ開始</ng-template>
        <br>
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="validate">
            プレイ開始
          </button>
          <ng-container *ngIf="validate">
            <p class="mt-3 font-red">
              <i class="material-icons mat-icon-error">error</i>
               未入力箇所があります。
            </p>
            以下を確認してください。
            <ul>
              <li><small>プレイ日付が未入力</small></li>
              <li><small>プレイ人数が0人</small></li>
            </ul>
          </ng-container>
        </div>
      </mat-step>
    </mat-stepper>
    <div class="container">
      <div class="row fixed-bottom">
        <div class="col"></div>
        <div class="col text-center">
          <a routerLink="{{ '/home' }}">
            <button class="btn btn-sm btn-secondary mb-3" type="button" style="width: 75px; height: 35px;">
              戻る
            </button>
          </a>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </form>
</div>

<ng-container *ngIf="loading">
  <div class="overlay"></div>
  <div class="spanner d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>
