/** scorelisttop.component.scss */
.material-icons.small-size {
	font-size: 17px;
  vertical-align: -3px;
}
.material-icons {
  font-size: 20px;
  vertical-align: -4px;
}
.card-title{
  margin: 0px 0px 5px;
}
.card-text{
  margin: 0px 0px -5px;
}
.modal-footer {
  border-top: none;
}
