<br>
<div *ngIf="scoresEmpty">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">データが登録されていません<br>トップ画面から登録を開始してください</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="scorelist">
  <div *ngFor="let tmp of scorelist; let i=index">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="card">
            <a routerLink="{{ tmp.player }}/{{ tmp.id }}">
              <div class="card-body">
                <h3 class="card-title">
                  <div>
                    <span>
                      {{ tmp.courseName }}
                    </span>
                  </div>
                </h3>
                <div class="card-text">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <small>
                          {{ tmp.playDate | date:"yyyy年MM月dd日" }}
                        </small>
                      </div>
                    </div>
                    <span class="row justify-content-center mt-1">
                      <div class="col-6">
                        <small>{{ tmp.name1 }}</small>
                      </div>
                      <div class="col-6">
                        <small>{{ tmp.name2 }}</small>
                      </div>
                    </span>
                    <div class="row justify-content-center">
                      <div class="col-6">
                        <small>{{ tmp.name3 }}</small>
                      </div>
                      <div class="col-6">
                        <small>{{ tmp.name4 }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <span class="float-end align-bottom">
              <div class="btn btn-danger btn-sm mt-2 delBtnPos" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="deleteConf(tmp.id)">
                <i class="material-icons small-size">delete</i>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <br>
  <br>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          データを削除します。よろしいですか？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">キャンセル</button>
          &nbsp;
          <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" (click)="delDocument()">&nbsp;削除&nbsp;</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container fixed-bottom">
  <div class="row my-2 justify-content-center">
    <div class="col"></div>
    <div class="col text-center">
      <a routerLink="{{ '/home' }}">
        <button class="btn btn-sm btn-secondary my-2" type="button" style="width: 75px; height: 35px;">
          戻る
        </button>
      </a>
    </div>
    <div class="col"></div>
  </div>
</div>

<ng-container *ngIf="loading">
  <div class="overlay"></div>
  <div class="spanner d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>
