<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="{{ '/home' }}">GOLF-SCORE WEBAPP</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <br>
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" aria-current="page" routerLink="{{ '/home' }}">
            <i class="material-icons small-size">golf_course</i> TOP画面</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" aria-current="page" routerLink="{{ '/score' }}">
            <i class="material-icons small-size">golf_course</i> スコア一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" aria-current="page" routerLink="{{ '/newgame' }}">
            <i class="material-icons small-size">golf_course</i> 新しく始める</a>
        </li>
        <br>
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" aria-current="page"  routerLink="{{ '/logout' }}">
            <i class="material-icons small-size">logout</i> ログアウト</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
