<div *ngIf="score">
  <form (ngSubmit)="onSubmit()">
    <table class="table table-sm">
      <thead class="sticky-top table-secondary">
        <tr class="table-primary">
          <td class="text-center"><span class="enFont">#</span></td>
          <td class="text-center"><small>{{ score.name1 }}</small></td>
          <td class="text-center"><small>{{ score.name2 }}</small></td>
          <td class="text-center"><small>{{ score.name3 }}</small></td>
          <td class="text-center"><small>{{ score.name4 }}</small></td>
        </tr>
        <ng-container *ngIf="orderError">
          <tr>
            <td colspan="5" class="text-center bg-danger text-white">打順が設定されていません</td>
          </tr>
        </ng-container>
      </thead>
      <tbody>
        <ng-container *ngFor="let _score1 of score1; let i = index">
          <tr>
            <th scope="row" class="d-grid gap-2 mt-2">
              <button type="button" mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#course1Modal" data-bs-whatever="0" (click)="setDialogIndex(i)">
                <span class="enFont">{{ no[i] }}</span>
              </button>
            </th>
            <ng-container *ngFor="let _player of playerArray; let p = index">
              <td class="text-center align-bottom">
                <div class="d-grid gap-2 col-8 mx-auto">
                  <ng-container *ngIf="p == 0">
                    <button type="button" class="btn btn-light position-relative" [ngStyle] = "{
                      'backgroundColor' : lasvegas1[i] ? '#696969' : '#F8F9FA',
                      'color' : lasvegas1[i] ? 'white' : 'black'
                    }">
                      <span class="enFont">{{ score1[i] }}</span>
                      <div *ngIf="order[i][p] != 0">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          <span class="enFont">{{ order[i][p] }}</span>
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </div>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="p == 1">
                    <button type="button" class="btn btn-light position-relative" [ngStyle] = "{
                      'backgroundColor' : lasvegas2[i] ? '#696969' : '#F8F9FA',
                      'color' : lasvegas2[i] ? 'white' : 'black'
                    }">
                      <span class="enFont">{{ score2[i] }}</span>
                      <div *ngIf="order[i][p] != 0">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          <span class="enFont">{{ order[i][p] }}</span>
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </div>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="p == 2">
                    <button type="button" class="btn btn-light position-relative" [ngStyle] = "{
                      'backgroundColor' : lasvegas3[i] ? '#696969' : '#F8F9FA',
                      'color' : lasvegas3[i] ? 'white' : 'black'
                    }">
                      <span class="enFont">{{ score3[i] }}</span>
                      <div *ngIf="order[i][p] != 0">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          <span class="enFont">{{ order[i][p] }}</span>
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </div>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="p == 3">
                    <button type="button" class="btn btn-light position-relative" [ngStyle] = "{
                      'backgroundColor' : lasvegas4[i] ? '#696969' : '#F8F9FA',
                      'color' : lasvegas4[i] ? 'white' : 'black'
                    }">
                      <span class="enFont">{{ score4[i] }}</span>
                      <div *ngIf="order[i][p] != 0">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          <span class="enFont">{{ order[i][p] }}</span>
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </div>
                    </button>
                  </ng-container>
                </div>
              </td>
            </ng-container>
          </tr>
          <ng-container *ngIf="i == 8">
            <tr class="table-secondary">
              <td>
                <ng-container *ngIf="no[i] == '9th'">
                  <div class="text-center"><span class="enFont">OUT</span></div>
                </ng-container>
                <ng-container *ngIf="no[i] == '18th'">
                  <div class="text-center"><span class="enFont">IN</span></div>
                </ng-container>
              </td>
              <td class="text-center"><span class="enFont">{{ outTotal1 }}</span></td>
              <td class="text-center"><span class="enFont">{{ outTotal2 }}</span></td>
              <td class="text-center"><span class="enFont">{{ outTotal3 }}</span></td>
              <td class="text-center"><span class="enFont">{{ outTotal4 }}</span></td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 17">
            <tr class="table-secondary">
              <td>
                <ng-container *ngIf="no[i] == '9th'">
                  <div class="text-center"><span class="enFont">OUT</span></div>
                </ng-container>
                <ng-container *ngIf="no[i] == '18th'">
                  <div class="text-center"><span class="enFont">IN</span></div>
                </ng-container>
              </td>
              <td class="text-center"><span class="enFont">{{ inTotal1 }}</span></td>
              <td class="text-center"><span class="enFont">{{ inTotal2 }}</span></td>
              <td class="text-center"><span class="enFont">{{ inTotal3 }}</span></td>
              <td class="text-center"><span class="enFont">{{ inTotal4 }}</span></td>
            </tr>
            <tr class="table-primary">
              <td>
                <div class="text-center"><span class="enFont">TOTAL</span></div>
              </td>
              <td class="text-center"><span class="enFont">{{ total1 }}</span></td>
              <td class="text-center"><span class="enFont">{{ total2 }}</span></td>
              <td class="text-center"><span class="enFont">{{ total3 }}</span></td>
              <td class="text-center"><span class="enFont">{{ total4 }}</span></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <!--  -->
    <!--  -->
    <div class="container">
      <div class="row">
        <div class="col-12 text-center bg-secondary text-white">
          <small><span class="enFont">RESULT</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white ">
          <small><span class="enFont">#</span></small>
        </div>
        <div class="col-3 text-center bg-secondary text-white">
          <small><span class="badge bg-danger enFont">A</span><br><span class="enFont">OLYMPIC</span></small>
        </div>
        <div class="col-3 text-center bg-secondary text-white">
          <small><span class="badge bg-primary enFont">B</span><br><span class="enFont">LASVEGAS</span></small>
        </div>
        <div class="col-3 text-center bg-secondary text-white">
          <small><span class="badge bg-danger enFont">A</span><span class="enFont">+</span><span class="badge bg-primary enFont">B</span><br><span class="enFont">TOTAL</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white">
          <small>{{ score.name1 }}</small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal1 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal1 }}</span></small>
        </div>
        <div class="visually-hidden">
          <small><span class="enFont">{{ olympicTotal1_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : lasvegasTotal1 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ lasvegasTotal1 }}</span></small>
        </div>
        <div class="visually-hidden">
          <small><span class="enFont">{{ lasvegasTotal1_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal1 + lasvegasTotal1 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal1 + lasvegasTotal1 }}</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white">
          <small>{{ score.name2 }}</small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal2 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal2 }}</span></small>
        </div>
        <div class="visually-hidden">
          <small><span class="enFont">{{ olympicTotal2_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : lasvegasTotal2 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ lasvegasTotal2 }}</span></small>
        </div>
        <div class="visually-hidden">
          <small><span class="enFont">{{ lasvegasTotal2_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal2 + lasvegasTotal2 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal2 + lasvegasTotal2 }}</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white">
          <small>{{ score.name3 }}</small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal3 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal3 }}</span></small>
        </div>
        <div class="visually-hidden">
          <small><span class="enFont">{{ olympicTotal3_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : lasvegasTotal3 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ lasvegasTotal3 }}</span></small>
        </div>
        <div class="visually-hidden">
          <small><span class="enFont">{{ lasvegasTotal3_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal3 + lasvegasTotal3 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal3 + lasvegasTotal3 }}</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white">
          <small>{{ score.name4 }}</small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal4 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal4 }}</span></small>
        </div>
        <div class="visually-hidden">
          <small><span class="enFont">{{ olympicTotal4_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : lasvegasTotal4 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ lasvegasTotal4 }}</span></small>
        </div>
        <div class="visually-hidden">
          <small><span class="enFont">{{ lasvegasTotal4_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal4 + lasvegasTotal4 >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal4 + lasvegasTotal4 }}</span></small>
        </div>
      </div>
      <div class="row mt-1 mb-1">
        <div class="col">
        </div>
        <div class="col-3 text-end mt-1">
          <small>レート</small>
        </div>
        <div class="col-3 text-end">
          <span>
            <input #box1 type="number" class="form-control form-control-sm" placeholder="レート"
              aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
              (blur)="olympicAndLasvegasRateChange(box1.value)">
          </span>
          <div class="visually-hidden">
            <small>{{ rateValue }}</small>
          </div>
        </div>
        <div class="col-3">
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <mat-icon>expand_more</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center bg-secondary text-white">
          <small><span class="enFont">RESULT (After Rate)</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white ">
          <small><span class="enFont">#</span></small>
        </div>
        <div class="col-3 text-center bg-secondary text-white">
          <small><span class="badge bg-danger enFont">A</span><br><span class="enFont">OLYMPIC</span></small>
        </div>
        <div class="col-3 text-center bg-secondary text-white">
          <small><span class="badge bg-primary enFont">B</span><br><span class="enFont">LASVEGAS</span></small>
        </div>
        <div class="col-3 text-center bg-secondary text-white">
          <small><span class="badge bg-danger enFont">A</span><span class="enFont">+</span><span class="badge bg-primary enFont">B</span><br><span class="enFont">TOTAL</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white">
          <small>{{ score.name1 }}</small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal1_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal1_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : lasvegasTotal1_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ lasvegasTotal1_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal1_rated + lasvegasTotal1_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal1_rated + lasvegasTotal1_rated }}</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white">
          <small>{{ score.name2 }}</small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal2_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal2_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : lasvegasTotal2_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ lasvegasTotal2_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal2_rated + lasvegasTotal2_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal2_rated + lasvegasTotal2_rated }}</span></small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center bg-secondary text-white">
          <small>{{ score.name3 }}</small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal3_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal3_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : lasvegasTotal3_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ lasvegasTotal3_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal3_rated + lasvegasTotal3_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal3_rated + lasvegasTotal3_rated }}</span></small>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-3 text-center bg-secondary text-white">
          <small>{{ score.name4 }}</small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal4_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal4_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : lasvegasTotal4_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ lasvegasTotal4_rated }}</span></small>
        </div>
        <div class="col-3 text-end border border-white" [ngStyle] = "{
          'color' : olympicTotal4_rated + lasvegasTotal4_rated >= 0 ? 'blue' : 'red'
        }">
          <small><span class="enFont">{{ olympicTotal4_rated + lasvegasTotal4_rated }}</span></small>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="container fixed-bottom">
        <div class="row">
          <div class="col"></div>
          <div class="col-5 d-grid gap-2">
            <button class="btn btn-primary mb-3" type="submit" data-bs-toggle="modal" data-bs-target="#saveDialog">
              <i class="material-icons small-size">save_as</i> スコア保存
            </button>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col text-center">
            <a routerLink="{{ '/score' }}">
              <button class="btn btn-sm btn-secondary mb-3" type="button" style="width: 75px; height: 35px;">
                戻る
              </button>
            </a>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </form>
  <br>

  <!-- コース1のダイアログ -->
  <div class="modal fade" id="course1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <nav class="navbar navbar-dark bg-primary sticky-top" aria-label="nabverTop">
          <div class="container">
            <div class="col-4"></div>
            <div class="col-4 d-flex align-items-center justify-content-center">
              <div class="text-center" style="color: #ffffff;">
                <h2>{{ no[courseIndex] }}</h2>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
        </nav>
        <div class="modal-body">
          <div class="container">
            <!--プレーヤー1-->
            <div class="row">
              <div class="col-3">
              </div>
              <div class="col-6 d-flex justify-content-center" style="font-weight: bold;">
                <p class="align-bottom">{{ score.name1 }}</p>
              </div>
              <div class="col-3">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter3Down(courseIndex, _index_name1)">
                    <i class="material-icons">keyboard_double_arrow_down</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter1Down(courseIndex, _index_name1)">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <h2 class="text-center align-items-center">{{ score1[courseIndex] }}</h2>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter1Up(courseIndex, _index_name1)">
                    <i class="material-icons">keyboard_arrow_up</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter3Up(courseIndex, _index_name1)">
                    <i class="material-icons">keyboard_double_arrow_up</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center" style="border-bottom: 1px solid #dee2e6">
              <div class="col-auto">
                <mat-chip-listbox aria-label="olympic selection">
                  <span [ngSwitch]="olympic1[courseIndex]">
                    <p *ngSwitchCase=5>
                      <mat-chip-option selected #olympic1 value=5 (selectionChange)="olympicSelect1(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic1 value=4 (selectionChange)="olympicSelect1(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic1 value=3 (selectionChange)="olympicSelect1(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic1 value=2 (selectionChange)="olympicSelect1(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic1 value=1 (selectionChange)="olympicSelect1(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=4>
                      <mat-chip-option #olympic1 value=5 (selectionChange)="olympicSelect1(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option selected #olympic1 value=4 (selectionChange)="olympicSelect1(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic1 value=3 (selectionChange)="olympicSelect1(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic1 value=2 (selectionChange)="olympicSelect1(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic1 value=1 (selectionChange)="olympicSelect1(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=3>
                      <mat-chip-option #olympic1 value=5 (selectionChange)="olympicSelect1(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic1 value=4 (selectionChange)="olympicSelect1(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option selected #olympic1 value=3 (selectionChange)="olympicSelect1(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic1 value=2 (selectionChange)="olympicSelect1(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic1 value=1 (selectionChange)="olympicSelect1(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=2>
                      <mat-chip-option #olympic1 value=5 (selectionChange)="olympicSelect1(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic1 value=4 (selectionChange)="olympicSelect1(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic1 value=3 (selectionChange)="olympicSelect1(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option selected #olympic1 value=2 (selectionChange)="olympicSelect1(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic1 value=1 (selectionChange)="olympicSelect1(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=1>
                      <mat-chip-option #olympic1 value=5 (selectionChange)="olympicSelect1(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic1 value=4 (selectionChange)="olympicSelect1(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic1 value=3 (selectionChange)="olympicSelect1(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic1 value=2 (selectionChange)="olympicSelect1(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option selected #olympic1 value=1 (selectionChange)="olympicSelect1(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchDefault>
                      <mat-chip-option #olympic1 value=5 (selectionChange)="olympicSelect1(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic1 value=4 (selectionChange)="olympicSelect1(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic1 value=3 (selectionChange)="olympicSelect1(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic1 value=2 (selectionChange)="olympicSelect1(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic1 value=1 (selectionChange)="olympicSelect1(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                  </span>
                </mat-chip-listbox>
              </div>
            </div>
            <!--プレーヤー2-->
            <div class="row">
              <div class="col-3">
              </div>
              <div class="col-6 d-flex justify-content-center" style="font-weight: bold;">
                <p>{{ score.name2 }}</p>
              </div>
              <div class="col-3">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter3Down(courseIndex, _index_name2)">
                    <i class="material-icons">keyboard_double_arrow_down</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter1Down(courseIndex, _index_name2)">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <h2 class="text-center align-items-center">{{ score2[courseIndex] }}</h2>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter1Up(courseIndex, _index_name2)">
                    <i class="material-icons">keyboard_arrow_up</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter3Up(courseIndex, _index_name2)">
                    <i class="material-icons">keyboard_double_arrow_up</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center" style="border-bottom: 1px solid #dee2e6">
              <div class="col-auto">
                <mat-chip-listbox aria-label="olympic selection">
                  <span [ngSwitch]="olympic2[courseIndex]">
                    <p *ngSwitchCase=5>
                      <mat-chip-option selected #olympic2 value=5 (selectionChange)="olympicSelect2(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic2 value=4 (selectionChange)="olympicSelect2(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic2 value=3 (selectionChange)="olympicSelect2(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic2 value=2 (selectionChange)="olympicSelect2(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic2 value=1 (selectionChange)="olympicSelect2(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=4>
                      <mat-chip-option #olympic2 value=5 (selectionChange)="olympicSelect2(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option selected #olympic1 value=4 (selectionChange)="olympicSelect2(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic2 value=3 (selectionChange)="olympicSelect2(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic2 value=2 (selectionChange)="olympicSelect2(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic2 value=1 (selectionChange)="olympicSelect1(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=3>
                      <mat-chip-option #olympic2 value=5 (selectionChange)="olympicSelect2(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic2 value=4 (selectionChange)="olympicSelect2(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option selected #olympic2 value=3 (selectionChange)="olympicSelect2(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic2 value=2 (selectionChange)="olympicSelect2(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic2 value=1 (selectionChange)="olympicSelect2(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=2>
                      <mat-chip-option #olympic2 value=5 (selectionChange)="olympicSelect2(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic2 value=4 (selectionChange)="olympicSelect2(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic2 value=3 (selectionChange)="olympicSelect2(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option selected #olympic1 value=2 (selectionChange)="olympicSelect2(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic2 value=1 (selectionChange)="olympicSelect2(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=1>
                      <mat-chip-option #olympic2 value=5 (selectionChange)="olympicSelect2(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic2 value=4 (selectionChange)="olympicSelect2(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic2 value=3 (selectionChange)="olympicSelect2(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic2 value=2 (selectionChange)="olympicSelect2(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option selected #olympic2 value=1 (selectionChange)="olympicSelect2(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchDefault>
                      <mat-chip-option #olympic2 value=5 (selectionChange)="olympicSelect2(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic2 value=4 (selectionChange)="olympicSelect2(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic2 value=3 (selectionChange)="olympicSelect2(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic2 value=2 (selectionChange)="olympicSelect2(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic2 value=1 (selectionChange)="olympicSelect2(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                  </span>
                </mat-chip-listbox>
              </div>
            </div>
            <!--プレーヤー3-->
            <div class="row">
              <div class="col-3">
              </div>
              <div class="col-6 d-flex justify-content-center" style="font-weight: bold;">
                <p>{{ score.name3 }}</p>
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter3Down(courseIndex, _index_name3)">
                    <i class="material-icons">keyboard_double_arrow_down</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter1Down(courseIndex, _index_name3)">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <h2 class="text-center align-items-center">{{ score3[courseIndex] }}</h2>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter1Up(courseIndex, _index_name3)">
                    <i class="material-icons">keyboard_arrow_up</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter3Up(courseIndex, _index_name3)">
                    <i class="material-icons">keyboard_double_arrow_up</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center" style="border-bottom: 1px solid #dee2e6">
              <div class="col-auto">
                <mat-chip-listbox aria-label="olympic selection">
                  <span [ngSwitch]="olympic3[courseIndex]">
                    <p *ngSwitchCase=5>
                      <mat-chip-option selected #olympic3 value=5 (selectionChange)="olympicSelect3(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic3 value=4 (selectionChange)="olympicSelect3(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic3 value=3 (selectionChange)="olympicSelect3(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic3 value=2 (selectionChange)="olympicSelect3(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic3 value=1 (selectionChange)="olympicSelect3(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=4>
                      <mat-chip-option #olympic3 value=5 (selectionChange)="olympicSelect3(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option selected #olympic3 value=4 (selectionChange)="olympicSelect3(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic3 value=3 (selectionChange)="olympicSelect3(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic3 value=2 (selectionChange)="olympicSelect3(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic3 value=1 (selectionChange)="olympicSelect3(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=3>
                      <mat-chip-option #olympic3 value=5 (selectionChange)="olympicSelect3(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic3 value=4 (selectionChange)="olympicSelect3(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option selected #olympic3 value=3 (selectionChange)="olympicSelect3(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic3 value=2 (selectionChange)="olympicSelect3(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic3 value=1 (selectionChange)="olympicSelect3(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=2>
                      <mat-chip-option #olympic3 value=5 (selectionChange)="olympicSelect3(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic3 value=4 (selectionChange)="olympicSelect3(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic3 value=3 (selectionChange)="olympicSelect3(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option selected #olympic3 value=2 (selectionChange)="olympicSelect3(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic3 value=1 (selectionChange)="olympicSelect3(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=1>
                      <mat-chip-option #olympic3 value=5 (selectionChange)="olympicSelect3(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic3 value=4 (selectionChange)="olympicSelect3(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic3 value=3 (selectionChange)="olympicSelect3(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic3 value=2 (selectionChange)="olympicSelect3(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option selected #olympic3 value=1 (selectionChange)="olympicSelect3(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchDefault>
                      <mat-chip-option #olympic3 value=5 (selectionChange)="olympicSelect3(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic3 value=4 (selectionChange)="olympicSelect3(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic3 value=3 (selectionChange)="olympicSelect3(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic3 value=2 (selectionChange)="olympicSelect3(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic3 value=1 (selectionChange)="olympicSelect3(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                  </span>
                </mat-chip-listbox>
              </div>
            </div>
            <!--プレーヤー4-->
            <div class="row">
              <div class="col-3">
              </div>
              <div class="col-6 d-flex justify-content-center" style="font-weight: bold;">
                <p>{{ score.name4 }}</p>
              </div>
              <div class="col-3">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter3Down(courseIndex, _index_name4)">
                    <i class="material-icons">keyboard_double_arrow_down</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter1Down(courseIndex, _index_name4)">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <h2 class="text-center align-items-center">{{ score4[courseIndex] }}</h2>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter1Up(courseIndex, _index_name4)">
                    <i class="material-icons">keyboard_arrow_up</i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="d-grid">
                  <button mat-mini-fab color="accent" (click)="setScoreCounter3Up(courseIndex, _index_name4)">
                    <i class="material-icons">keyboard_double_arrow_up</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto">
                <mat-chip-listbox aria-label="olympic selection">
                  <span [ngSwitch]="olympic4[courseIndex]">
                    <p *ngSwitchCase=5>
                      <mat-chip-option selected #olympic4 value=5 (selectionChange)="olympicSelect4(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic4 value=4 (selectionChange)="olympicSelect4(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic4 value=3 (selectionChange)="olympicSelect4(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic4 value=2 (selectionChange)="olympicSelect4(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic4 value=1 (selectionChange)="olympicSelect4(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=4>
                      <mat-chip-option #olympic4 value=5 (selectionChange)="olympicSelect4(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option selected #olympic4 value=4 (selectionChange)="olympicSelect4(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic4 value=3 (selectionChange)="olympicSelect4(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic4 value=2 (selectionChange)="olympicSelect4(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic4 value=1 (selectionChange)="olympicSelect4(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=3>
                      <mat-chip-option #olympic4 value=5 (selectionChange)="olympicSelect4(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic4 value=4 (selectionChange)="olympicSelect4(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option selected #olympic4 value=3 (selectionChange)="olympicSelect4(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic4 value=2 (selectionChange)="olympicSelect4(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic4 value=1 (selectionChange)="olympicSelect4(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=2>
                      <mat-chip-option #olympic4 value=5 (selectionChange)="olympicSelect4(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic4 value=4 (selectionChange)="olympicSelect4(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic4 value=3 (selectionChange)="olympicSelect4(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option selected #olympic4 value=2 (selectionChange)="olympicSelect4(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic4 value=1 (selectionChange)="olympicSelect4(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchCase=1>
                      <mat-chip-option #olympic4 value=5 (selectionChange)="olympicSelect4(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic4 value=4 (selectionChange)="olympicSelect4(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic4 value=3 (selectionChange)="olympicSelect4(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic4 value=2 (selectionChange)="olympicSelect4(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option selected #olympic4 value=1 (selectionChange)="olympicSelect4(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                    <p *ngSwitchDefault>
                      <mat-chip-option #olympic4 value=5 (selectionChange)="olympicSelect4(courseIndex, 5)">ダイヤ</mat-chip-option>
                      <mat-chip-option #olympic4 value=4 (selectionChange)="olympicSelect4(courseIndex, 4)">金</mat-chip-option>
                      <mat-chip-option #olympic4 value=3 (selectionChange)="olympicSelect4(courseIndex, 3)">銀</mat-chip-option>
                      <mat-chip-option #olympic4 value=2 (selectionChange)="olympicSelect4(courseIndex, 2)">銅</mat-chip-option>
                      <mat-chip-option #olympic4 value=1 (selectionChange)="olympicSelect4(courseIndex, 1)">鉄</mat-chip-option>
                    </p>
                  </span>
                </mat-chip-listbox>
              </div>
            </div>
            <ng-container *ngIf="courseIndex == 0">
              <div class="row justify-content-center">
                <div class="col-1"></div>
                <div class="col-10">
                  <p class="row justify-content-center">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#order1st" role="button" aria-expanded="false" aria-controls="order1st">
                      初回の打順を設定
                    </a>
                  </p>
                  <div class="row">
                    <div class="collapse" id="order1st">
                      <div class="card card-body">
                        <table>
                          <tr style="margin-bottom: 2px;">
                            <td style="width: 50%;">{{ score.name1 }}</td>
                            <td style="width: 50%;">
                              <select class="form-select" [(ngModel)]='order1st[_index_name1]' name="dropdownOption" id="dropdownOption">
                                <option value=0>打順</option>
                                <option value=1>No.1</option>
                                <option value=2>No.2</option>
                                <option value=3>No.3</option>
                                <option value=4>No.4</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>{{ score.name2 }}</td>
                            <td>
                              <select class="form-select" [(ngModel)]='order1st[_index_name2]' name="dropdownOption" id="dropdownOption">
                                <option value=0>打順</option>
                                <option value=1>No.1</option>
                                <option value=2>No.2</option>
                                <option value=3>No.3</option>
                                <option value=4>No.4</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>{{ score.name3 }}</td>
                            <td>
                              <select class="form-select" [(ngModel)]='order1st[_index_name3]' name="dropdownOption" id="dropdownOption">
                                <option value=0>打順</option>
                                <option value=1>No.1</option>
                                <option value=2>No.2</option>
                                <option value=3>No.3</option>
                                <option value=4>No.4</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>{{ score.name4 }}</td>
                            <td>
                              <select class="form-select" [(ngModel)]='order1st[_index_name4]' name="dropdownOption" id="dropdownOption">
                                <option value=0>打順</option>
                                <option value=1>No.1</option>
                                <option value=2>No.2</option>
                                <option value=3>No.3</option>
                                <option value=4>No.4</option>
                              </select>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>
                <div class="col-1"></div>
              </div>
            </ng-container>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-6">
                <div class="d-grid">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save()">一覧へ反映</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <!-- 保存確認ダイアログ -->
  <div class="modal fade" id="saveDialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-9 text-center">
                <div *ngIf="saving; else elseContent">
                  <mat-icon style="color: green; font-size: 35px; height: 37px; width: 37px;">check_circle</mat-icon>
                  <h3>保存が完了しました。</h3>
                </div>
                <ng-template #elseContent>
                  <mat-icon style="color: red; font-size: 35px; height: 37px; width: 37px;">error</mat-icon>
                  <h3>保存失敗しました。</h3>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-9">
                <div class="d-grid">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
