.card {
  width: 300px;
  height: 300px;
}

img {
  width: 300px;
  height: 250px;
  margin-left: -12px;
  margin-top: -1px;
}

.modal-footer {
  border-top: none;
}

.table {
  margin-top: 1rem;
  margin-bottom: -1rem;
}
