<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="card bg-light" style="width: 300px;">
      <img src="assets/img/top.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-text text-center">
          新しく始める場合は<br>
          「メンバーを登録して開始」<br>を押してください。
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8 d-grid gap-2">
      <a class="btn btn-primary btn-block" routerLink="{{ '/newgame' }}" role="button">メンバーを登録して開始</a>
    </div>
    <div class="col-2">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8 d-grid gap-2">
      <a class="btn btn-primary btn-block" routerLink="{{ '/score' }}" role="button">スコア一覧</a>
    </div>
    <div class="col-2">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 d-grid gap-2">
      <!-- <a class="btn btn-danger btn-block" role="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">アカウントを削除</a> -->
      <a class="btn btn-danger btn-block" routerLink="{{ '/account' }}" role="button">アカウントを削除</a>
    </div>
    <div class="col-3">
    </div>
  </div>
  <br>
</div>
<div class="fixed-bottom text-center bg-info"><small>ログイン中:</small><span class="enFont"><small>{{ accountEmail }}</small></span></div>
