<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="card bg-light" style="width: 300px;">
      <img src="assets/img/top.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-text text-center">
          新しく始める場合は<br>
          「新しく始める」<br>を選択してください。
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 d-grid gap-2">
      <a mat-raised-button color="primary" routerLink="{{ '/newgame' }}">新しく始める</a>
    </div>
    <div class="col">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 d-grid gap-2">
      <a mat-raised-button color="primary" routerLink="{{ '/score' }}">過去のデータ</a>
    </div>
    <div class="col">
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 d-grid gap-2">
      <a class="btn btn-danger btn-block" routerLink="{{ '/account' }}" role="button">アカウント削除</a>
    </div>
    <div class="col">
    </div>
  </div>
  <br>
</div>
<div class="fixed-bottom text-center bg-info"><small>ログイン中:</small><span class="enFont"><small>{{ accountEmail }}</small></span></div>
