<div class="container">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <h2 class="heading text-center">削除するアカウントを<br>再認証してください</h2>
    <div class="mb-2" style="color: red;" *ngIf="errorMessage!=''">{{ errorMessage }}</div>
    <div class="form-group mb-3">
      <input ngModel type="email" name="email" class="form-control" placeholder="メールアドレスを入力" required [(ngModel)]="model.email">
    </div>
    <div class="form-group mb-3">
      <input ngModel type="password" name="password" class="form-control" placeholder="パスワードを入力" required autofocus>
    </div>
    <ng-container *ngIf="confirm; else elseContent">
      <button class="btn btn-lg btn-primary" type="submit">ログイン</button>
    </ng-container>
    <ng-template #elseContent>
      <a class="btn btn-danger btn-block" role="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">アカウントを削除</a>
    </ng-template>
  </form>
  <div class="container fixed-bottom">
    <div class="row my-2 justify-content-center">
      <div class="col"></div>
      <div class="col text-center">
        <a routerLink="{{ '/home' }}">
          <button class="btn btn-sm btn-secondary my-2" type="button" style="width: 75px; height: 35px;">
            戻る
          </button>
        </a>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
<ng-container *ngIf="loading">
  <div class="overlay"></div>
  <div class="spanner d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          アカウントを削除します。よろしいですか？
        </p>
        <p class="text-danger">
          <small>アカウントを削除した場合、スコア一覧も削除されます。</small>
        </p>
        <p class="text-danger">
          <small>削除されたデータは復元できません。</small>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">キャンセル</button>
        &nbsp;
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" routerLink="{{ '/signup' }}" (click)="acountDelete()">アカウント削除</button>
      </div>
    </div>
  </div>
</div>

